@import './variables';

@mixin flexCenter ($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font;
    flex-direction: $direction;
}
header {
    @include flexCenter(column);
    background-color:$headColor;  
    font-size: map-get($size, "font-one");
    button {
        font-size: map-get($size, "font-two" );
        margin-left: 4px;
        background-color:$buttonColor;
        &:hover {
            background-color: white;
        }
    }
}